<!--<div ng-include="'components/navbar/navbar.html'"></div>-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 well tictactoe">
      <h1>Tictactoe!</h1>
      <div ng-repeat="row in vm.tictactoe.board track by $index">
        <button class="btn btn-lg"
                ng-repeat="cell in row"
                ng-disabled="vm.tictactoe.isTaken(cell);"
                ng-class="{'btn-default ': cell.value == 'X', 'btn-success ': cell.value == 'O'}"
                ng-click="vm.tictactoe.move(cell);">{{ cell.value }}</button>
      </div>
      <br/>
      <p>
        <span ng-hide="vm.tictactoe.winner || vm.tictactoe.cat">Current Player: {{ vm.tictactoe.currentPlayer }}</span>
        <span ng-show="vm.tictactoe.winner">Player {{ vm.tictactoe.currentPlayer }} won!</span>
        <span ng-show="vm.tictactoe.cat">Cat</span>
      </p>
    </div>
  </div>
</div>
</footer>
